################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/XF.Atividade1/.vs/XF.Atividade1/v15/Server/sqlite3
/XF.Atividade1/XF.Atividade1/XF.Atividade1/obj/Debug
/XF.Atividade1/XF.Atividade1/XF.Atividade1.Android/obj/Debug
/XF.Atividade1/XF.Atividade1/XF.Atividade1.iOS/obj
/XF.Atividade1/XF.Atividade1/XF.Atividade1.UWP/obj/x86/Debug
/XF.Atividade1/packages/Xamarin.Forms.2.4.0.280/lib/MonoAndroid10
/XF.Atividade1/XF.Atividade1/XF.Atividade1/bin/Debug
/XF.Atividade1/XF.Atividade1/XF.Atividade1/obj/Release
/XF.Atividade1/XF.Atividade1/XF.Atividade1.Android/bin/Debug
/XF.Atividade1/XF.Atividade1/XF.Atividade1.Android/obj
/XF.Atividade1/XF.Atividade1/XF.Atividade1.UWP/obj
/XF.Atividade2/.vs/XF.Atividade2/v15/Server/sqlite3
/XF.Atividade2/packages
/XF.Atividade2/XF.Atividade2/XF.Atividade2/obj/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2.Android/obj/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2.iOS/obj
/XF.Atividade2/XF.Atividade2/XF.Atividade2.UWP/obj/x86/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2/bin/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2.Android/bin/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2.iOS/bin/iPhoneSimulator/Debug
/XF.Atividade2/XF.Atividade2/XF.Atividade2.UWP/obj
